/* line 1, ../scss/admin.scss */
pre {
  border: 1px dotted #bbb;
  padding: 10px 15px;
  background: #fff;
  overflow: auto;
}

/* line 7, ../scss/admin.scss */
#cws-wp-help-document, #cws-wp-help-settings {
  max-width: none;
}
