/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

html, body {
	height:100%;
}
body {
	margin-bottom:-1px;
}


/*********************
LAYOUT & GRID STYLES
*********************/

#container {
	padding-top:60px;
	min-height:100%;
	margin-bottom:-160px;
	@include box-sizing;
	.wrap.banner-wrap {
		margin:15px auto 0;
		padding-bottom:30px;
		.banner {
			width:728px;
			margin:0 auto;
			.banner-inner {
				width:720px;
				height:90px;
			}
			.email-collection {
				h3 {
					float:left;
					margin-bottom:0;
				}
				div {
					float:right;
				}
				input[type=email] {
					width:350px;
				}
			}
		}
	}
	.push {
		height:160px;
	}
}
.wrap {
	max-width: 1030px;
	width:100%;
}
#main {
	float:left;
	margin-right:330px;
	width:auto;
}
body.single #main, #main {
	margin-bottom:0;
}

/*********************
HEADER STYLES
*********************/

.header {
	#inner-header {
		position:relative;
	}
	.wrap {
		padding-right:5px;
		@include box-sizing;
		#logo {
			float:left;
			width:275px;
			margin-right:10px;
		}
		.nav-activator {
			display:none;
		}
		.nav-wrap {
			display:block;
			width:auto;
			position:static;
			nav {
				float:left;
				.nav {
					& > li {
						& > a {
							height:35px;
							line-height:30px;
							background:transparent;
							font-size:24px;
							text-transform:uppercase;
							color:#aaa;
							@include Oswald(normal);
							border-left:1px solid #333;
							padding:0 10px;
							&:before {
								display:none;
							}
							&:hover {
								background:#fc0;
								color:#000;
							}
						}
					}
				}
			}
			.search-show {
				display:block;
				float:right;
				background:transparent url(../images/ic-sprite.png) no-repeat 10px -111px;
				text-indent:-9999px;
				width:45px;
				height:45px;
				margin:-10px 0;
				padding:0;
				cursor:pointer;
			}
			.search-form {
				padding:0 10px;
				display:none;
				position:absolute;
				right:0;
				top:35px;
				height:32px;
				line-height:25px;
				@include border-radius(0 0 4px 4px);
			}
		}
	}
}

	#logo {}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	background: #eee;
	border: 0;
	ul {
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				background-color: #dedede;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			overflow: hidden;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			overflow: visible;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

body.home {
	#content {
		#main {
			width:auto;
		}
		.featured-pagination {
			margin-top:0;
		}
		.content-secondary {
			&:after {
				@include clearfixer;
			}
			margin-bottom:0;
			.twt {
				float:left;
				margin-right:320px;
				min-height:600px;
				margin-bottom:0;
			}
			.banner300x600 {
				float:left;
				margin-left:-300px;
			}
		}
	}
}
body.archive {
	#content {
		#main {
			width:auto;
			margin-right:330px;
			margin-left:10px;
			.posts-list {
				& > li {
					padding-bottom:15px;
					border-bottom:1px solid #eee;
					.img-wrap {
						max-width:528px;
					}
				}
			}
		}
	}
} 
body.home #mainTouts, body.home .featured-posts > ul {
	& > li {
		padding-bottom:15px;
		border-bottom:1px solid #eee;
		& > a {
			position:relative;
			& > .img-wrap {
				width:448px;
				height:228px;
				float:left;
				margin-right:20px;
				position:relative;
				&:before {
					@include triangle-left;
				}
				&:after {
					@include triangle-left($color:#ccc,$border:26px,$offset:-1px,$z:1);
				}
				img {
					@each $prefix in $prefixes {
						@include transition(opacity 1s,height 1.5s,width 1.5s,margin-left 1.5s,margin-top 1.5s,#{$prefix}transform 2s)
					}
				}
			}
			.title-wrap {
				padding-top:0;
			}
			&:hover {
				& > .img-wrap {
					& > img {
						opacity:.7;
						width:114%;
						margin-left:-7%;
						margin-top:-3%;
						@include transform(rotate(2deg));
					}
				}
			}
		}
	}
}
body.home #mainTouts {
	& > li {
		&:first-child {
			background:#111;
			padding-top:15px;
			& > a {
				& > .img-wrap {
					&:before {
						border-color:transparent #111;
					}
					&:after {
						border-color:transparent #444;
					}
				}
			}
		}
	}
}
.posts-list {
	& > li {
		& > a {
			& > .img-wrap {
				width:auto;
				height:170px;
				img {
					@each $prefix in $prefixes {
						@include transition(opacity 1s,height 1.5s,width 1.5s,margin-left 1.5s,margin-top 1.5s,#{$prefix}transform 2s)
					}
				}
			}
			&:hover {
				& > .img-wrap {
					& > img {
						opacity:.7;
						width:114%;
						margin-left:-7%;
						margin-top:-3%;
						@include transform(rotate(2deg));
					}
				}
			}
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	float:left;
	width:300px;
	margin-left:-310px;
	.posts-list {
		margin-right:0;
		& > li {
			width:auto;
			margin-right:0;
			float:none;
		}
	}
	.twt {
		background:none;
		h2 {
			height:44px;
		}
		.twt-posts {
			border-left:1px solid #eee;
			& > li {
				padding:25px 25px 0;
				& > a {
					border-bottom:1px solid #eee;
					padding-bottom:15px;
				}
			}
		}
	}
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

.footer {
	text-align:left;
	margin-top:20px;
	.wrap {
		nav {
			height:60px;
			line-height:60px;
			padding:20px 0;
			.social-links {
				margin:0 10px 0 0;
				float:left;
				& > li {
					& > a:hover {
						background-color:#999;
					}
				}
			}
			.nav {
				border-top:0;
				& > li > a {
					margin-right:5px;
				}
			}
		}
		.copyright {
			text-align:left;
			margin-left:10px;
		}
	}
}